<footer class="border-t border-slate-800 py-12 px-6">
    <div class="max-w-7xl mx-auto flex flex-col lg:flex-row items-center justify-between gap-8">

        <div class="text-center lg:text-left">
            <h3 class="text-2xl font-bold text-slate-200 mb-2">
                <span class="text-green-500 mr-2">>_</span>{{ '¿Hablamo$?' | translate }} <span class="text-cyan-400 animate-pulse">_</span>
            </h3>
            <p class="text-slate-400 font-mono text-sm max-w-xs md:max-w-md">
                > {{ 'Listo para nuevos descubrimientos y retos arquitectónicos en Ciberseguridad y Full Stack.' | translate }}
            </p>
        </div>

        <div class="flex flex-col gap-4 md:flex-row md:gap-8 items-center justify-center">
            <a [href]="'mailto:' + email"
                class="px-4 py-2 border border-slate-800 bg-black/50 text-slate-400 hover:text-cyan-400 hover:border-cyan-400 transition-colors text-sm font-bold uppercase tracking-widest flex items-center group w-full sm:w-auto">
                <span class="text-lg leading-none justify-center flex items-center h-5 w-8 shrink-0">✉️</span>
                <span class="ml-2 text-left whitespace-nowrap">[ MSG: {{ email }} ]</span>
            </a>

            <a [href]="'tel:' + phone.replace(' ', '')"
                class="px-4 py-2 border border-slate-800 bg-black/50 text-slate-400 hover:text-cyan-400 hover:border-cyan-400 transition-colors text-sm font-bold uppercase tracking-widest flex items-center group w-full sm:w-auto">
                <span class="text-lg leading-none justify-center flex items-center h-5 w-8 shrink-0">📱</span>
                <span class="ml-2 text-left whitespace-nowrap">[ TEL: {{ phone }} ]</span>
            </a>

            <!-- Guiño PDF -->
            <a href="Martinez_Valiente_Javier_2026.pdf" target="_blank"
                class="px-5 py-2 border border-cyan-500/50 bg-transparent text-cyan-400 hover:bg-cyan-500/10 hover:text-cyan-300 font-bold transition-all text-sm uppercase tracking-widest flex items-center group w-full sm:w-auto">
                <span
                    class="text-lg leading-none justify-center flex items-center h-5 w-8 shrink-0 group-hover:animate-bounce">📄</span>
                <span class="ml-2 text-left whitespace-nowrap">[ DOWNLOAD ./CV.pdf ]</span>
            </a>
        </div>

    </div>

    <div class="text-center mt-12 text-xs text-slate-600 font-mono uppercase tracking-widest">
        <p>{{ '© 2026 Javier Martínez Valiente. Todos los derechos reservados.' | translate }}</p>
    </div>
</footer>